body,
html {
    height: 100%;

}

.bg {
    /* The image used */
    background-image: url("banner-bg.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

.text-count {
    font-size: 20px;
    font-weight: bold;
}

.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.timer {
    font-size: 80px;
    margin: 0 10px;
}

.countdown-container {
    color: white;
    font-weight: bold;
    margin-top: 200px;
    font-size: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    box-shadow: 0px 30px 100px 15px black;
}

.countdown {
    margin: 0 10px;

}

.countdown-label {
    font-size: 35px;
    margin-top: 10px;
}

.input-container {
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
}

.input-container label {
    margin-right: 5px;
    font-size: 20px;
}

.input-container input[type="number"] {
    width: 50px;
    padding: 5px;
    text-align: center;
    font-size: 18px;
}

.btn-container {
    margin-top: 20px;
    text-align: center;
}

.btn-container button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: black;

    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.maskot {
    transform: rotateY(180deg);
    margin-top: 20px;
    margin-bottom: 50px;
}

.logo-lks {
    margin-top: 20px;
    margin-bottom: 50px;
}

.atas {
    margin-top: -230px;
}



/* Gaya Responsif */
@media (max-width: 768px) {
    .countdown-container {
        margin-top: 120px;
        font-size: 100px;
        margin-left: 0;
        padding-left: 0;
        margin-left: 500px;
    }

    .countdown-label {
        font-size: 25px;
    }

    .input-container {
        margin-top: 30px;
    }

    .input-container label {
        font-size: 16px;
    }

    .input-container input[type="number"] {
        width: 40px;
        padding: 3px;
        font-size: 14px;
    }

}

@media (max-width: 576px) {
    .countdown-container {
        margin-top: 80px;
        font-size: 80px;
    }

    .countdown-label {
        font-size: 20px;
    }

    .input-container {
        margin-top: 20px;
    }

    .input-container label {
        font-size: 14px;
    }

    .input-container input[type="number"] {
        width: 30px;
        padding: 2px;
        font-size: 12px;
    }

    .btn-container button {
        padding: 8px 16px;
        font-size: 14px;
    }
}